$app-font-family: Montserrat;
$site-color: #3A80BA;
$text-color: #FFFFFF;
$text-font-size: 40px;
$btn-width: 120px;
$text-weight: 400;
$block-padding: 60px;
$header-height: 72px;
$main-top-margin: 60px;
$zero-border: 0px;
$table-even-row-bg: #F1F1F1;
$table-odd-row-bg: #FBFBFB;
$footer-bg-color: #1C3B55;

@mixin bg-color {
  background-color: $site-color;
}

@mixin text {
  color: $text-color;
  font-weight: $text-weight;
}

@mixin font-family {
  font-family: $app-font-family;
}

@mixin reset-border {
  border: $zero-border;

}

@mixin reset-box-shadow {
  box-shadow: none;
}

@mixin custom_border {
  border: 2px solid #F1F1F1;
  border-radius: 10px;
}

*, select, {
  @include font-family
}

select option {
  @include font-family
}

.header {
  @include bg-color;
  @include text;

  font-size: $text-font-size;
  font-weight: $text-weight;
  height: $header-height;
  display: flex;
  align-items: center;
}

#main {
  margin-top: $main-top-margin;
}

.pagination-link.is-current {
  background-color: $site-color;
}

.custom_select {
  width: 100%;
}

.custom_input, .custom_input:active, .custom_input:focus, .select .custom_select, .select .custom_select:active, .select .custom_select:focus {
  @include reset-border;
  @include reset-box-shadow;
}

.search_elements {
  @include custom_border;
}

.table-responsive, .table {
  border-radius: 15px;
}

.table .custom_thead th {
  @include bg-color;
  @include text;
  font-size: 16px;
}

.table tbody tr td {
  white-space: nowrap;
  font-size: 14px;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: $table-even-row-bg;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(odd) {
  background-color: $table-odd-row-bg;
}

.table tbody a {
  text-decoration: underline;
}

.table.is-bordered td, .table.is-bordered th {
  border: 1px solid #FFFFFF;
}

.custom_footer {
  background-color: $footer-bg-color;
  height: 57px;
  color: $text-color;
}

.pagination-previous, .pagination-next {
  @include reset-border;
}

.pagination-link.is-disabled {
  background-color: transparent;
}





